
.calculator{
    display: flex;
    justify-content: center;
}
.calc-in {
    width: 470px;
    height: 620px;
    background-color: #1d293a;
    border-radius: 15px;
    display: flex;
    justify-content: center;

}

.display {
    width: 420px;
    height: 110px;
    background-color: #e8e9ef;
    border: 1px solid #1d2c3a;
    border-radius: 8px;
    margin: 15px 0 0 0;
    

}